# Gradle files
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

# Local configuration
local.properties
**/.idea/caches
**/.idea/libraries
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/assetWizardSettings.xml

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Keystore files
*.jks
*.keystore

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Android Studio captures
captures/

# NDK
.obj/
.externalNativeBuild/

# Other
*.apk
*.ap_